<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Crusher
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="barcode" (click)="scanBarcode()">
    <h3>Press the icon to scan your BARCODE!</h3>
    <img class="img" src="../../assets/barcode.png" />
  </div>

  <!-- <ion-item (click)="showDetail()">
    <ion-icon name="cog-outline" style="font-size: 48px; margin-right: 10px;"></ion-icon>

    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h2>Имя</h2>
      <h4>Тип агрегат </h4>
      <p></p>
    </ion-label>
    <ion-icon name="chevron-forward-outline" style="font-size: 36px;"></ion-icon>
  </ion-item> -->


  <ion-list *ngFor="let aggregate_info of aggregates_info" style="padding: 0px;">
    <ion-item (click)="showDetail(aggregate_info)">
      <ion-icon name="cog-outline" style="font-size: 48px; margin-right: 10px;"></ion-icon>

      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>{{aggregate_info[0][0]}}</h2>
        <h4>{{aggregate_info[0][1]}} </h4>
        <!-- <p>{{aggregate_info[0][4]}}</p> -->
      </ion-label>
      <ion-icon name="chevron-forward-outline" style="font-size: 36px;"></ion-icon>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" (click)="scanBarcode()" slot="fixed"
    style="padding-right: 10px; padding-bottom: 10px;">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>