<ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{unique_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-fab vertical="bottom" horizontal="end" (click)="get_aggregate_data()" slot="fixed"
    style="padding-right: 10px; padding-bottom: 10px;">
    <ion-fab-button>
      <ion-icon name="refresh" style="margin-top: -4px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>Разрывная дроблика</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let val of gap_array; let i = index">

    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title>Вал №1</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-item>
      <ion-grid>
        <ion-row nowrap>
          <ion-col>
            <ion-fab-button size="small" fab-fixed color="medium" *ngIf = "val.val_direction_1_p == 1 && val.val_direction_1_o == 0">
              <ion-icon name="return-up-forward-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="medium" *ngIf = "val.val_direction_1_p == 1 && val.val_direction_1_o == 0">
              <ion-icon name="return-up-back-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="medium" *ngIf = "(val.val_direction_1_p == 0 && val.val_direction_1_o == 0) || (val.val_direction_1_p == 1 && val.val_direction_1_o == 1)">
              <ion-icon name="stop-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>

          <ion-col *ngFor="let val of gap_array">
            <ion-fab-button size="small" fab-fixed color="success" *ngIf="val.val_current_relay == 0 ">
              <p>I</p>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="danger" *ngIf="val.val_current_relay == 1 ">
              <p>I</p>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="medium" *ngIf="val.val_current_relay == 2 ">
              <p>I</p>
            </ion-fab-button>
          </ion-col>
          <ion-col>
            <ion-fab-button size="small" fab-fixed color="success" *ngIf="val.val_sensor_speed == 0 ">
              <p>V</p>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="danger" *ngIf="val.val_sensor_speed == 1 ">
              <p>V</p>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="medium" *ngIf="val.val_sensor_speed == 2 ">
              <p>V</p>
            </ion-fab-button>
          </ion-col>

          <ion-col>
            <ion-fab-button size="small" fab-fixed color="success" *ngIf="val.overheating_motor == 0 ">
              <p>t°</p>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="danger" *ngIf="val.overheating_motor == 1 ">
              <p>t°</p>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="medium" *ngIf="val.overheating_motor == 2 ">
              <p>t°</p>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>



    <ion-item>
      <ion-label>Скорость вращения</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion">
        <p class="pose_ion">{{val.val_speed}}</p>
      </ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Количество поданных реверсов</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion">
        <p class="pose_ion">{{val.val_quantity_revers}}</p>
      </ion-badge>
    </ion-item>

  </div>

  <div *ngFor="let hamer of hamer_array">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title>Молотковая дроблика</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-item>
      <ion-grid>
        <ion-row nowrap>

          <ion-col>
            <ion-fab-button size="small" fab-fixed color="medium" *ngIf="hamer.hammer_on_off == 1 ">
              <ion-icon name="play-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="medium" *ngIf="hamer.hammer_on_off == 0 ">
              <ion-icon name="stop-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>

          <ion-col>
            <ion-fab-button size="small" fab-fixed color="success" *ngIf="hamer.hammer_crash_overload == 0">
              <p>t°</p>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="danger" *ngIf="hamer.hammer_crash_overload == 1">
              <p>t°</p>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="medium" *ngIf="hamer.hammer_crash_overload == 2">
              <p>t°</p>
            </ion-fab-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>


    <ion-item>
      <ion-label>Скорость вращения</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion">
        <p class="pose_ion">{{hamer.hammer_speed}}</p>
      </ion-badge>
    </ion-item>
  </div>



  <div *ngFor="let conveyor1 of conveyor1_array">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title>Подающий транспортер</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-item>

      <ion-grid>
        <ion-row nowrap>
          <ion-col>
            <ion-fab-button size="small" fab-fixed color="medium"  *ngIf="conveyor1.conveyor_on_off_1 == 1">
              <ion-icon name="play-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="medium"  *ngIf="conveyor1.conveyor_on_off_1 == 0">
              <ion-icon name="stop-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>

          <ion-col>
            <ion-fab-button size="small" fab-fixed color="success" *ngIf="conveyor1.conveyor_current_relay_1 == 0">
              <p>I</p>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="danger" *ngIf="conveyor1.conveyor_current_relay_1 == 1">
              <p>I</p>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="medium" *ngIf="conveyor1.conveyor_current_relay_1 == 2">
              <p>I</p>
            </ion-fab-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>
  </div>

  <div *ngFor="let conveyor2 of conveyor2_array">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title>Выкидной транспортер</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-item>

      <ion-grid>
        <ion-row nowrap>
          <ion-col>
            <ion-fab-button size="small" fab-fixed color="medium" *ngIf="conveyor2.conveyor_on_off_2 == 1">
              <ion-icon name="play-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="medium" *ngIf="conveyor2.conveyor_on_off_2 == 0">
              <ion-icon name="stop-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>

          <ion-col>
            <ion-fab-button size="small" fab-fixed color="success" *ngIf="conveyor2.conveyor_current_relay_2 == 0">
              <p>I</p>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="danger" *ngIf="conveyor2.conveyor_current_relay_2 == 1">
              <p>I</p>
            </ion-fab-button>
            <ion-fab-button size="small" fab-fixed color="medium" *ngIf="conveyor2.conveyor_current_relay_2 == 2">
              <p>I</p>
            </ion-fab-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>
  </div>

</ion-content>