#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

.mat-expansion-panel-body{
  padding: 0px!important;
}

.pose_ion {
  /* background-color: red; */
  height: 20px;   
  vertical-align: top;
  margin-top: 0px;
  /* z-index: 2; */
}

.butupdate{
  size: large;
  position:absolute; 
  z-index: 2; 
  position: fixed; 
  top: auto; 
  bottom: 0px; 
  right: 0px; 
  width: 75px;
  height: 75px;
  /* color: rgba(0,0,0,0.78); */
}