<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Crusher
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-button shape="round" (click)="buttonUpdate()" class="butupdate">
    UPDATE
  </ion-button> -->

  <ion-fab vertical="bottom" horizontal="end" (click)="buttonUpdate()" slot="fixed"
    style="padding-right: 10px; padding-bottom: 10px;">
    <ion-fab-button>
      <ion-icon name="refresh" style="margin-top: -4px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <div *ngIf="!status_data">

  </div>

  <div *ngIf="status_data">

    <mat-expansion-panel style="padding-left: 0px!important;">
      <mat-expansion-panel-header style="background: rgb(35,35,40); color:floralwhite;">
        <mat-panel-title style="color:floralwhite;">
          Параметры разрывной дробилки
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-expansion-panel *ngFor="let val of gap_array; let i = index" style="padding-left: 0px!important;">
        <mat-expansion-panel-header style="background: rgb(35,35,40); color:floralwhite;">
          <mat-panel-title style="color:floralwhite;">
            Параметры вала №{{i+1}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div style="padding: 0px;">
          <ion-item style="padding: 0px;">
            <ion-label>Срабатывание токового реле</ion-label>
            <ion-badge color="medium" slot="end" class="pose_ion"
              [ngStyle]="{'background-color': (val.val_current_relay==1)? 'red' : (val.val_current_relay==0)? 'green':'#92949C'}">
              <p class="pose_ion">{{val.val_current_relay}}</p>
            </ion-badge>
          </ion-item>

          <ion-item>
            <ion-label>Срабатывание по датчику скорости</ion-label>
            <ion-badge color="medium" slot="end" class="pose_ion"
              [ngStyle]="{'background-color': (val.val_sensor_speed==1)? 'red' : (val.val_sensor_speed==0)? 'green':'#92949C'}">
              <p class="pose_ion">{{val.val_sensor_speed}}</p>
            </ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>Перегрев электродвигателя</ion-label>
            <ion-badge color="medium" slot="end" class="pose_ion"
              [ngStyle]="{'background-color': (val.overheating_motor==1)? 'red' : (val.overheating_motor==0)? 'green':'#92949C'}">
              <p class="pose_ion">{{val.overheating_motor}}</p>
            </ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>Зажатие вала</ion-label>
            <ion-badge color="medium" slot="end" class="pose_ion"
              [ngStyle]="{'background-color': (val.val_clamping_on==1)? 'red' : (val.val_clamping_on==0)? 'green':'#92949C'}">
              <p class="pose_ion">{{val.val_clamping_on}}</p>
            </ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>Скорость вращения</ion-label>
            <ion-badge color="medium" slot="end" class="pose_ion">
              <p class="pose_ion">{{val.val_speed}}</p>
            </ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>Количество поданных реверсов</ion-label>
            <ion-badge color="medium" slot="end" class="pose_ion">
              <p class="pose_ion">{{val.val_quantity_revers}}</p>
            </ion-badge>
          </ion-item>

        </div>
      </mat-expansion-panel>
    </mat-expansion-panel>

    <mat-expansion-panel style="padding-left: 0px!important;">
      <mat-expansion-panel-header style="background: rgb(35,35,40); color:floralwhite;">
        <mat-panel-title style="color:floralwhite;">
          Параметры молотковой дробилки
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="padding: 0px;">
        <ion-item>
          <ion-label>Вкл/Выкл</ion-label>
          <ion-badge color="medium" slot="end" class="pose_ion">
            <p class="pose_ion">{{hamer_array[0].hammer_on_off}}</p>
          </ion-badge>
        </ion-item>

        <ion-item>
          <ion-label>Авария по перегреву</ion-label>
          <ion-badge color="medium" slot="end" class="pose_ion"
          [ngStyle]="{'background-color': (hamer_array[0].hammer_crash_overload==1)? 'red' : (hamer_array[0].hammer_crash_overload==0)? 'green':'#92949C'}">
            <p class="pose_ion">{{hamer_array[0].hammer_crash_overload}}</p>
          </ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Скорость вращения</ion-label>
          <ion-badge color="medium" slot="end" class="pose_ion">
            <p class="pose_ion">{{hamer_array[0].hammer_speed}}</p>
          </ion-badge>
        </ion-item>
        <!-- <ion-item>
    <ion-label>Сработка на отключение транспортера</ion-label>
    <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='hammer_conveyor_off'></p></ion-badge>
    </ion-item> -->

      </div>
    </mat-expansion-panel>


    <mat-expansion-panel style="padding-left: 0px!important;">
      <mat-expansion-panel-header style="background: rgb(35,35,40); color:floralwhite;">
        <mat-panel-title style="color:floralwhite;">
          Параметры подающего транспортера
        </mat-panel-title>
      </mat-expansion-panel-header>


      <div style="padding: 0px;">
        <ion-item>
          <ion-label>Вкл/Выкл</ion-label>
          <ion-badge color="medium" slot="end" class="pose_ion">
            <p class="pose_ion">{{conveyor2_array[0].conveyor_on_off_2}}</p>
          </ion-badge>
        </ion-item>

        <ion-item>
          <ion-label>Аварийное отключение по токовому реле</ion-label>
          <ion-badge color="medium" slot="end" class="pose_ion">
            <p class="pose_ion">{{conveyor2_array[0].conveyor_current_relay_2}}</p>
          </ion-badge>
        </ion-item>


      </div>
    </mat-expansion-panel>

    <mat-expansion-panel style="padding-left: 0px!important;">
      <mat-expansion-panel-header style="background: rgb(35,35,40); color:floralwhite;">
        <mat-panel-title style="color:floralwhite;">
          Параметры выкидного транспортера
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div style="padding: 0px;">

        <ion-item>
          <ion-label>Вкл/Выкл</ion-label>
          <ion-badge color="medium" slot="end" class="pose_ion">
            <p class="pose_ion">{{conveyor1_array[0].conveyor_on_off_1}}</p>
          </ion-badge>
        </ion-item>

        <ion-item>
          <ion-label>Аварийное отключение по токовому реле</ion-label>
          <ion-badge color="medium" slot="end" class="pose_ion">
            <p class="pose_ion">{{conveyor1_array[0].conveyor_current_relay_1}}</p>
          </ion-badge>
        </ion-item>

      </div>
    </mat-expansion-panel>

  </div>

</ion-content>